
  <container class="footer-container">
    <row class="footer-head">
      <columns small="6" large="6" class="fload">
        <a href="#">
          <img src="https://res.cloudinary.com/rayray89/image/upload/v1570575288/Promotional/CCLogoFooterHead.png" alt="">
        </a>
      </columns>
      <columns small="3" large="3">
        <a href="#">
          <img src="https://res.cloudinary.com/rayray89/image/upload/v1570575288/Promotional/appStoreLogo.png" alt="" class="appleStore-logo">
        </a>
      </columns>
      <columns small="3" large="3">
        <a href="#">
          <img src="https://res.cloudinary.com/rayray89/image/upload/v1570575288/Promotional/googlePlayLogo.png" alt="" class="play-logo">
        </a>
      </columns>
    </row>
    <row >
      <columns class="footer-body">
        <p class="text-center">
          You are receiving this email because you registered as
          fornicio.fornica@gmail.com. If you don't want to receive these emails
          in the future, you can <a href="#">unsubscribe</a> from Calexico
          Cinemas emails.
        </p>
        <p class="text-center">
          This email was sent by: Calexico Cinemas USA, Inc. 2441 Scaroni Ave,
          Calexico, CA 92231 USA
        </p>
        <p class="text-center">
          We respect your right to privacy.
          <a href="#">View our privacy policy</a>.
        </p>
        <a href="#" class="footer-body-logo">
          <center>
            <img src="https://res.cloudinary.com/rayray89/image/upload/v1570575288/Promotional/CCLogoFooter.png" alt=""/>
          </center>
        </a>
      </columns>
    </row>
  </container>
